.top-nav {
    width: 100%;
}
.top-nav {
    display: flex;
}
.top-nav > .nav {
    float: right;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.logo > img {
    width: 10%;
}
.container {
    width: 100%;
}
.banner img {
    width: 100%;
}
.filters {
    display: flex;
    justify-content: center;
}
.filters > .filter {
    display: flex;
    justify-content: center;
    margin: 15px;
}
.products {
    display:flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.product {
    width: 10%;
}
.product-image > img {
    width: 100%;
}
.product-info {
    display: flex;
    justify-content: center;
}